.callout {
    position: fixed;
    top: 20%;
    right: 15px;
    width: auto;
    padding: 2ch;
    font-size: 0.6ch;
    border-radius: 0.4em;
    height: auto;
    background-color: white;
    border: 3px solid black;
    filter: drop-shadow(5px 5px 0px grey);
}