@font-face {
    font-family: 'KA1';
    font-style: 'bold';
    font-weight: 700;
    src: url(/public/fonts/ka1.ttf) format('ttf');
}

@font-face {
    font-family: 'Barcade';
    font-style: 'regular';
    font-weight: 400;
    src: url(/public/fonts/barcade.ttf) format('ttf');
}

// RESETS
