@import './main';
@import url(/public/fonts/ka1.ttf);
@import url(/public/fonts/barcade.ttf);

.main {
    height: 100vh;
    width: 100vw;
    background-color: rgb(211, 211, 211);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Barcade';
}

.content {
    height: 100%;
    width: auto;
    max-width: 450px;
    padding: 2ch;
    font-family: 'barcade', sans-serif;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 80px;

    .headerContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        

        h1 {
            font-family: 'KA1';
            font-size: 2ch;
            line-height: 1.5ch; 
            // filter: drop-shadow(5px 2px 0px grey);
        }

        span {
            line-height: 1.2ch;
            font-size: 0.6ch;
        }
    }

    .gameContent {

    }

    .buttonContainer {
        display: grid;
        margin-top: 1ch;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: min(15px, 5%);

        .button {
            height: 60px;
            padding: 1.5ch;
            border-radius: 0.4em;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            border: black 3px solid;
            filter: drop-shadow(5px 5px 0px grey);


            
            svg {
                // height: 100%;
                font-size: 2.5ch;
                color: white;
            }
        }

        .leftButton {
            color: white;
            background-color: red;
            position: relative;
            z-index: 3;
        }

        .rightButton {
            color: white;
            background-color: green;
        }
    }
}